<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>О проекте</title>
    <link href="../Static/CSS/index.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="../Static/JavaScript/about.js" >
    </script>
</head>
<header id="header-index">
    <!--Заголовок страницы-->
    <h1>О проекте</h1>
    <div>
        <p>Просмотр онлайн трансляций: </p>
    </div>
</header>
<!--SIDEBAR-->
<body>
    <div class="reviews">
        <div class="review-button">
            <button onclick="getReview()">Оставить отзыв</button>
        </div>
    </div>
</body>
<!--FOOTER-->
</html>