<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LifeSpot</title>
    <!--Подключение стилей по отностиельному пути из внешнего файла-->
    <link href="../Static/CSS/index.css" rel="stylesheet" type="text/css">
</head>


<!--Заголовок страницы-->
<!--Хедер страницы находится над тегом body-->

<body>
    <header id="header-index">
        <!--Заголовок страницы-->
        <h1>LifeSpot - прямые трансляции с улиц</h1>
        <!--Параграф-->
        <p class="curDate">Покажем, что происходит прямо сейчас: </p>
        <div class="bordered">
            <label>
                Название видео:
                <input type="text" oninput="let inputString = document.getElementsByTagName('input')[0].value.toLowerCase();
                       let elements=document.getElementsByClassName('video-container');
                       for (let i=0; i <= elements.length; i++)
                {
                debugger
                let videoText = elements[i].querySelector('.video-title').innerText;
                if (!videoText.toLowerCase().includes(inputString.toLowerCase())) {
                elements[i].style.display = 'none';
                } else {
                elements[i].style.display = 'inline-block';
                }
                }

                " size="50%">
            </label>
        </div>
    </header>

    <!--Сайд-бар страницы-->
    <!--SIDEBAR-->
    <div class="video-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/rG13FY2ytno" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <h3 class="video-title">Санкт-Петербург, Невский проспект</h3>
    </div>
    <div class="video-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/srlpC5tmhYs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <h3 class="video-title">Нью-Йорк, Брайант-парк</h3>
    </div>
    <div class="video-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/JplMzss6_YE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <h3 class="video-title">Лондон, движущаяся камера из окна автобуса</h3>
    </div>
    <script defer type="text/javascript" src="../Static/JavaScript/index.js">*
    </script>
</body>
<!--Футер страницы находится под основной частью (body)-->
<!--FOOTER-->
</html>

