<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LifeSpot</title>
    <!--Подключение стилей по отностиельному пути из внешнего файла-->
    <link href="../Static/CSS/index.css" rel="stylesheet" type="text/css">
</head>


<!--Заголовок страницы-->
<!--Хедер страницы находится над тегом body-->

<body>
    <header id="header-index">
        <!--Заголовок страницы-->
        <h1>LifeSpot - прямые трансляции с улиц</h1>
        <!--Параграф-->
        <p class="curDate">Покажем, что происходит прямо сейчас: </p>
        <div class="bordered">
            <label>Название видео: <input class="siteSearch" type="text" name="videoname" placeholder="город"></label>
            <input type="submit" value="Найти" />
        </div>
    </header>

    <!--Сайд-бар страницы-->
    <aside id="sidebar">
        <div class="navbar">
            <a href="/"><p>Все трансляции</p></a>
            <a href="/"><p>О проекте</p></a>
        </div>
    </aside>    <div class="video-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/rG13FY2ytno" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <h3 class="video-title">Санкт-Петербург, Невский проспект</h3>
    </div>
    <div class="video-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/srlpC5tmhYs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <h3 class="video-title">Нью-Йорк, Брайант-парк</h3>
    </div>
    <div class="video-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/JplMzss6_YE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <h3 class="video-title">Лондон, движущаяся камера из окна автобуса</h3>
    </div>
    <script  defer type="text/javascript" src="/Static/JavaScript/Index.js"></script>
</body>
<!--Футер страницы находится под основной частью (body)-->
</html>

<footer>
    <h1>LifeSpot - все права защищены</h1>
    <p>Связаться с нами: contact@lifespot.ru</p>
</footer>